body, html, #Stage {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-ms-content-zooming: none;
	-ms-touch-action: none;
	touch-action: none;
}

.ios, .ios body, .ios #Stage {
	overflow: visible;
}
.ios, .mob {
	position: relative;
	height: 100vh;
}

.GLA11y {
	position: absolute;
	width: 0;
	height: 100%;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

#Stage, #Stage * {
	position: absolute;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
}

#Stage * input,  #Stage * textarea {
	-moz-user-select: auto;
	-webkit-user-select: auto;
	-o-user-select: auto;
	-ms-user-select: auto;
	-webkit-tap-highlight-color: auto;
}

#Stage br, #Stage span {
	position: relative;
}

.feature-detects {
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	width: 0;
	height: 100vh;
	clip: rect(0 0 0 0);
}

@supports (--css: variables) and (padding: env(safe-area-inset-bottom)) {
	.feature-detects {
		--safe-area-inset-top: env(safe-area-inset-top);
		--safe-area-inset-right: env(safe-area-inset-right);
		--safe-area-inset-bottom: env(safe-area-inset-bottom);
		--safe-area-inset-left: env(safe-area-inset-left);
	}
}
